# 缂栬瘧浜х墿
x64/
Debug/
Release/
*.ilk
*.pdb
*.obj
*.tlog
*.log
*.ipch
*.exe

# VS
.vs/
*.vcxproj.user
*.suo

# 涓存椂/鏈湴閰嶇疆
*.tmp
imgui.ini
theme.cfg


#git add . 
#git commit -m "鏇存柊璇存槑"
#git push  
# ImGui 示例（不需要）
imgui/examples/
